:root{
  --color-hover: #404bbf;
  --strategi-description-color:#434455;
}
/* Body */
body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}
button {
  cursor: pointer;
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  color: #ffffff;
  /* padding: 16px 32px; */
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
a:hover,
a:focus {
  color: var(--color-hover);
}
button:hover,
button:focus {
  background-color: var(--color-hover);
  color: #ffffff;
}

/* Лого */
.text-logo,
.text-logo:hover,
.text-logo:focus {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0.51px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.text-logo-studio,
.text-logo-studio:hover,
.text-logo-studio:focus {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}
.text-logo-footer {
  color: #f4f4fd;
}
/* Навігація по сайту */
.navigationpanel {
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
}
.styless-address {
  font-style: normal;
}
/* Контактні дані */
.contact-date {
  color: #434455;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Section 1 */
.text-intro {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.intro {
  background-color: #2e2f42;
}
.h1-portfolio {
  color: #434455;
  font-size: 56px;
}
.h1-portfolio .text-logo,
.h1-portfolio .text-logo-studio {
  font-size: 56px;
  text-transform: none;
}
/* Section 2 */
.company-codexs-h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.strategi-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.strategi-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--strategi-description-color);
}
/* Section 3 */
.section-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/* Section 4 */
.section-my-tim {
  background-color: #f4f4fd;
}
.section-my-tim-h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-my-tim-h3 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.li-first{
  background-color: #ffffff;
}
/* Foter */
.footer-index {
  background-color: #2e2f42;
}
.p-footer-intro {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
/* Portfolio-main */
.boton-tail {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}
